#container {
  width: 100%;
  margin: 0 auto; }

section {
  height: 650px; }

.section--red {
  background-color: #e74c3c; }

.section--purple {
  background-color: #9b59b6; }

.section--blue {
  background-color: #3498db; }

.section--yellow {
  background-color: #f1c40f; }

.section--green {
  background-color: #2ecc71; }
